<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <title>DeepChat</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="demo">
    <svg class="sidebar" viewBox="0 0 300 500">
        <path class="s-path" fill="#fff" d="M0,0 50,0 a0,250 0 1,1 0,500 L0,500"></path>
    </svg>
    <div class="static">
        <div class="static__text">
            <p>Welcome!</p>

            <p class="small">Pull the sidebar to start</p>
        </div>
    </div>
    <div class="sidebar-content">
        <div class="contact">
            <img src="{{ url_for('static', filename='images/minion.jpg') }}" alt="" class="contact__photo"/>
            <span class="contact__name">English</span>
            <span class="contact__status online"></span>
        </div>
        <div class="contact">
            <img src="{{ url_for('static', filename='images/ant.png') }}" alt="" class="contact__photo"/>
            <span class="contact__name">Vietnamese</span>
            <span class="contact__status online"></span>
        </div>
        <!-- <div class="search">
          <img src="http://i.imgur.com/t8TeL1S.png" alt="" class="search__img" />
          <input type="text" class="search__input" placeholder="Search" />
        </div> -->
    </div>
    <div class="chat">
        <span class="chat__back"></span>
        <span class="chat__status">status</span>

        <div class="chat__person">
            <span class="chat__online active"></span>
            <span class="chat__name">Huehue Huehue</span>
        </div>
        <div class="chat__messages">

        </div>
        <form class="chat__form">
            <input type="text" class="chat__input" placeholder="Your message"/>
        </form>
    </div>
</div>

<div class="footer">
    <ul class="icons">
        <li><a href="https://github.com/phvu/deepchat" target="_blank" class="icon fa fa-github fa-4x"
               title="Source code"></a></li>
        <!-- <li><a href="https://fr.linkedin.com/in/vuphoai" target="_blank" class="icon fa fa-linkedin fa-4x"></a></li> -->
    </ul>
</div>

<script src="{{ url_for('static', filename='js/jquery-1.11.2.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67244788-2', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>